@tailwind base;
@tailwind components;
@tailwind utilities;



.body-marge{
  margin-right: 4%;
  margin-left: 4%;
  margin-bottom: 6%;
  margin-top: 3%;
}

.div-commune{

align-content: space-between;
  height: 125px !important;
  background-color: rgb(66, 155, 119) !important;
  padding: 4% !important;
}

.div-commune-content{
  align-content:center !important;
  justify-content: space-between !important;
}

.base-comune-link-hover:hover{
  font-size: 26px !important;
  color: coral !important;
}
.base-comune-group-link-hover:hover{
  font-size: 26px !important;
  color: rgb(26, 9, 95) !important;
}
.link-clicked{
  font-size: 24px !important;
  color: coral !important;
}
.link-clicked-group{
  font-size: 24px !important;
  color: rgb(34, 6, 147) !important
}

.base-comune-link-hover{
  font-size: 24px !important;
}

a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS' !important;
    font-size: 18px;
    text-decoration: none !important;
}

.table-entete{
  color:  coral !important;
  font-size: 22px !important;
}
.table-entete-group{
  color:  rgb(10, 243, 33) !important;
  font-size: 22px !important;
}
.btn{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS' !important;
    font-size: 18px;
}


div.polaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;

  margin: 20px;
  border: 1px ;
}

div.container {
  text-align: start;
  padding: 10px 20px;
}

.show-article-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.index-image{
  height: auto;
  width: auto !important;
}


.admin-div-commune{
  height: 250px;
    background-color: rgb(206, 202, 197) !important;
  }
  
.admin-ul-padding{
  padding-top: 5%;
  padding-left: 25% !important;
  padding-right: 25% !important;
}

.admin-link{
  color: rgb(176, 12, 226);
  font-size: 150%;
  font-weight: 400;
}

.mt-col-base{
  margin-top: 2% !important;
}

.p-admin-section{
  font-size: 25px;
  color: rgb(1, 10, 7);
  font-weight: bold;
}