@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
 
}

.body-marge{
  margin-right: 4%;
  margin-left: 4%;
  margin-bottom: 6%;
  margin-top: 3%;
}
.search-marge{
  margin-right: 4% !important;
  margin-left: 4% !important;
}
.div-commune{

align-content: space-between;
align-items: center;
  height: 250px !important;
  background-color: rgb(66, 155, 119) !important;
  padding: 4% !important;
  opacity: 0.9;
  background-image:url('/storage/nav-back.jpg');
}

.div-commune-content{
  align-content:center !important;
  justify-content: space-between !important;
}

.base-comune-link-hover:hover{
  font-size: 26px !important;
  color: coral !important;
}


.base-comune-link-hover{
  font-size: 24px !important;
  color: rgb(240, 229, 229) !important;
}

a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS' !important;
    font-size: 18px;
    text-decoration: none !important;
}

.btn{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS' !important;
    font-size: 18px;
}


div.polaroid {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0px 0px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;

  margin: 20px;
  border: none ;
}

div.container {
  text-align: start;
  padding: 10px 20px;
}


.index-image{
  width: 100%; /* Définit la largeur de l'image à 100% du conteneur */
    height: auto; /* Permet à la hauteur de l'image de s'ajuster automatiquement en fonction de la largeur */
    object-fit: cover;
}


.admin-div-commune{
  height: 250px;
    background-color: rgb(206, 202, 197) !important;
  }
  
.admin-ul-padding{
  padding-top: 5%;
  padding-left: 25% !important;
  padding-right: 25% !important;
}

.admin-link{
  color: rgb(176, 12, 226);
  font-size: 150%;
  font-weight: 400;
}

.admin-link:active{
  color: rgb(27, 25, 28);
  font-size: 150%;
  font-weight: 400;
}

.active-link{
    color: rgb(27, 25, 28) !important;
}

.mt-col-base{
  margin-top: 2% !important;
}

.p-admin-section{
  font-size: 25px;
  color: rgb(1, 10, 7);
  font-weight: bold;
}

.index-image-container {
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* Ratio hauteur/largeur souhaité (ex: 4:3 -> 75%) */
  position: relative;
  overflow: hidden;
}

.index-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.read-more-show{
  cursor:pointer;
  color: #ed8323;
}
.read-more-hide{
  cursor:pointer;
  color: #ed8323;
}

.hide_content{
  display: none;
}

.hidden-content {
  display: none;
}

.show {
  display:contents;
}

.show-title-article{
  font-family:'Courier New', Courier, monospace;
  font-size: 27px;
  font-weight: bold;
  text-align: justify !important;
}

.article-content{
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
}


.popular-article-clique-link{
  color: rgb(15, 14, 14) !important;
}

.popular-article-image{
  width: 100% !important; /* Ajuster la largeur de l'image */
  height: auto !important; 
  /* Ajuster la hauteur de l'image */
  object-fit: cover !important; /* Redimensionner l'image tout en conservant son ratio d'aspect */
}
.container{
  margin-bottom: 100px !important;
}

.input-ul{
  display: flex;
  padding: 7px;
  border: 1px solid #a6a6a6;
}


.article-title {
  font-family:'Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: 600;
  color: rgb(86, 78, 78);
}

.article-content-index {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: justify;
    color: rgb(86, 78, 78);
}

.update-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category-designation{
  width: 25%;
  background-color: rgb(66, 155, 119);
  font-family:'Courier New', Courier, monospace;
  font-size: 30px;
}

.avartar{
    height: 45px !important;
    width: 45px !important;
}
.avartar-image{
    width: 100% !important;
    height: 100% !important;
    border-radius: 50% ;
}
.avartar-nav{
    height: 25px !important;
    width: 25px !important;
}
.avartar-image-nav{
    width: 100% !important;
    height: 100% !important;
    border-radius: 50% ;
}
.updated-profile-image{
    width: 100% !important;
    height: 350px !important;
    border-radius: 50% !important;
}
.category-designation-on-image{
  font-size: 24px;
  color: chocolate;
  font-family:'Courier New', Courier, monospace;
  font-weight: 900;
}

.text-user-articles{
  font-family:'Courier New', Courier, monospace;
  color: chocolate;
  font-size: 18px;
}