@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:rgba(241, 235, 235, 0.909) !important;
}


.container {
  height: 75% !important; /* Le div prendra 75% de la hauteur de l'écran */
  max-width: 100%; 

}

.show-article-image{
  width: 100%; 
  height: auto;
  display:block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.article-author{
  margin-right: 25px;
  font-family:'Courier New', Courier, monospace;
  font-size: 22px;
  font-weight: 600;
}
.article-author-name{

  font-family:'Courier New', Courier, monospace;
}

.show-day{
  font-family:'Courier New', Courier, monospace;
}
.article-content-total{
    font-family:'Courier New', Courier, monospace;
    font-size: 22px;
}

.carousel-img{
  width: 100;
  height: auto;
}
.popular-article-div{
  background-color: rgb(201, 197, 192);
  margin-bottom: 5%;
  border-radius: 2%;
}

.image-size{
  width: 50%;
  height: 25%;
  border-radius: 2%;
  margin-right: 2%;
}
.popular-articles-category{
  font-family:'Courier New', Courier, monospace;
  font-size: 22px;
  color: rgb(169, 38, 173);
  font-weight: bold;
}
.popular-article-title{
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
}

.comment-content{
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
}
.comment-author{
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
}